{% extends "base.html" %}
{% load static %}

{% block title %}comets Viewer{% endblock %}

{% block extracss %}

{% endblock %}

{% block content %}

<form class='planetform' action="{% url 'comet:index' %}" method="get">
    <select name="comet" id="comet">
        {% for comet in cometsList %}
        <option {% if selectedComet == comet.id %}selected{% endif %} value="{{ comet.id }}">{{comet.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="search">
 </form>



 <div id="mainContainer">
    <div>
        <div class="prev ">
            <form action="{% url 'comet:index' %}" method="get">
                <input type="hidden" name="comet" id="comet" value="{{prev_comet}}">
                <input type="submit" value="prev">
            </form>
        </div>
        <img src="data:image/png;base64,{{ imageurl }}" alt="Red dot" />
        <div class="next ">
            <form action="{% url 'comet:index' %}" method="get">
                <input type="hidden" name="comet" id="comet" value="{{next_comet}}">
                <input type="submit" value="next">
            </form>
        </div>
    </div>
    <div>
        <p>{{ text }}</p>
    </div>
 </div>
{% endblock %}