{% extends "base.html" %}
{% load static %}

{% block title %}planet Viewe{% endblock %}



{% block content %}


<form action="{% url 'planets:index' %}" method="get">
    <select name="planet" id="planet">
        {% for planet in planetsList %}
        <option value={{planet.name}}>{{planet.name}}</option>
        {% endfor %}
    </select>
    <input id="name" type="text" name="name">
    <input type="submit" value="search">
 </form>
 <div>
    <div>
        <img src="data:image/png;base64,{{ imageurl }}" alt="Red dot" />
    </div>
    <div>

    </div>
 </div>
{% endblock %}