{% extends "base.html" %}
{% load static %}

{% block title %}comets Viewer{% endblock %}

{% block extracss %}

{% endblock %}

{% block content %}

<form class='planetform' action="{% url 'stars:index' %}" method="get">
    <select name="star" id="star">
        {% for star in starsList %}
        <option {% if selectedStar == star.id %}selected{% endif %} value="{{ star.id }}">{{star.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="search">
 </form>



 <div id="mainContainer">
    <div>
        <div class="prev ">
            <form action="{% url 'stars:index' %}" method="get">
                <input type="hidden" name="star" id="star" value="{{prev_star}}">
                <input type="submit" value="prev">
            </form>
        </div>
        <img src="data:image/png;base64,{{ imageurl }}" alt="Red dot" />
        <div class="next ">
            <form action="{% url 'stars:index' %}" method="get">
                <input type="hidden" name="star" id="star" value="{{next_star}}">
                <input type="submit" value="next">
            </form>
        </div>
    </div>
    <div>
        <p>{{ text }}</p>
    </div>
 </div>
{% endblock %}